    {% extends 'base.html' %}
    {% load staticfiles %}
    
    {% block content %}
    <article>
    
    
    <h1>What am I doing here?</h1>
    <p class="tldr"> 
    tl;dr...got tired of sitting at a desk. Decided to drive a taxi instead.
    </p>
    <img class="blogpic" src={% static "smjor.jpg" %} alt="just a pic"/>
    
    <p>For a little while anyway... My 20s have been kind of a lost decade. You could say I’m having a quarter..third..something life crisis at this point, but it has really been going on for the whole decade and then some. In a way I am attempting to embrace that. I recently moved to New York after thinking about it for quite some time and contemplating a career change. It was either going to be NYC or somewhere in Europe, mostly because I didn’t want to have to drive anymore, which is why becoming a taxi driver makes so much sense. I actually enjoy driving, but I was tired of owning a car and all of the responsibilities involved. I didn’t come here to be a taxi driver though, my plan was to go to the temp agencies and do office work while I pursue a career change into web development, but that didn’t work out quite as planned. Probably for the best since I actually hate office work.</p>

<p>I’ve done a lot of wandering around the city since I’ve been here and have found myself watching the yellow cabs zipping around and thinking it might be fun to get behind the wheel and experience the city from that perspective. I also thrive in chaos: crazy people and crazy NY drivers don’t bother me, in fact, in some weird way the chaos gives me energy. Basically the exact opposite effect that office work has on me.</p>

<p>So I’ve taken the first step and got a NY state chauffeur’s license instead of simply switching my out-of-state license to another regular class C license. The next step is to look into getting my hack license which involves a medical exam, drug test, taxi school, taxi exams, and probably some other stuff.
</p>
    
    </article>
    {% endblock %}