{% extends 'base.html' %}
   {% load staticfiles %}
   
      {% block content %}
	<article class="part1">
	<h1>Contact Me</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget ante malesuada, vulputate libero ultrices, congue nulla. Aliquam volutpat urna ac nulla auctor aliquam et eget sapien. Ut tristique dui ac velit semper, nec iaculis nunc pellentesque. Mauris pretium auctor libero, sit amet auctor erat sodales eget. Phasellus consequat eu nulla eu vulputate. Aenean gravida magna mauris, eu scelerisque metus adipiscing in. Curabitur rutrum elit eleifend, congue tortor in, luctus lorem. Fusce et porta nulla, ut convallis urna. Pellentesque vitae lobortis ante. Proin eget egestas sapien. Mauris faucibus eget mauris id facilisis. Sed rhoncus nulla leo, et viverra tortor iaculis sit amet. Sed elit nisi, sagittis sed eros id, pellentesque ultrices ipsum. Ut dignissim facilisis magna, sit amet sagittis turpis consequat sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id libero sit amet est vehicula rutrum et sit amet dui. </p>
	<img class="blogpic" src={% static "smjor.jpg" %} alt="just a pic"/>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget ante malesuada, vulputate libero ultrices, congue nulla. Aliquam volutpat urna ac nulla auctor aliquam et eget sapien. Ut tristique dui ac velit semper, nec iaculis nunc pellentesque. Mauris pretium auctor libero, sit amet auctor erat sodales eget. Phasellus consequat eu nulla eu vulputate. Aenean gravida magna mauris, eu scelerisque metus adipiscing in. Curabitur rutrum elit eleifend, congue tortor in, luctus lorem. Fusce et porta nulla, ut convallis urna. Pellentesque vitae lobortis ante. Proin eget egestas sapien. Mauris faucibus eget mauris id facilisis. Sed rhoncus nulla leo, et viverra tortor iaculis sit amet. Sed elit nisi, sagittis sed eros id, pellentesque ultrices ipsum. Ut dignissim facilisis magna, sit amet sagittis turpis consequat sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id libero sit amet est vehicula rutrum et sit amet dui. 
	</p>
	<img class="blogpic" src={% static "smjor.jpg" %} alt="just a pic"/>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget ante malesuada, vulputate libero ultrices, congue nulla. Aliquam volutpat urna ac nulla auctor aliquam et eget sapien. Ut tristique dui ac velit semper, nec iaculis nunc pellentesque. Mauris pretium auctor libero, sit amet auctor erat sodales eget. Phasellus consequat eu nulla eu vulputate. Aenean gravida magna mauris, eu scelerisque metus adipiscing in. Curabitur rutrum elit eleifend, congue tortor in, luctus lorem. Fusce et porta nulla, ut convallis urna. Pellentesque vitae lobortis ante. Proin eget egestas sapien. Mauris faucibus eget mauris id facilisis. Sed rhoncus nulla leo, et viverra tortor iaculis sit amet. Sed elit nisi, sagittis sed eros id, pellentesque ultrices ipsum. Ut dignissim facilisis magna, sit amet sagittis turpis consequat sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id libero sit amet est vehicula rutrum et sit amet dui. </p>
		
			
	</article>
		
	
		
    {% endblock %}


